nav {
    background-color: #ffffff;
    border-bottom: #e8e8e8 solid 1px;
    width: 100%;
}

.nav {
    display: flex;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

.right,
.left {
    display: flex;
    /* height: 50px; */
    /* height: 100%; */
    width: 50%;
    align-items: center;
    margin: 0 auto;
}



.right {
    justify-content: flex-end;
}

.right-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right>div,
.left>div {
    margin: 0 10px;
    /* border: #000000 1px solid; */
}

.left>div {
    height: 100%;
    line-height: 50px;
}

.left img {
    /* border: red 1px solid; */
    height: 100%;
}

.right div a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.right-2 div {
    /* margin: 0 10px; */
    padding: 0 10px;
}

.right-2 div:hover {
    border-bottom: #66AABB 2px solid;
    margin-bottom: -2px;
}

#log,
#expand img {
    cursor: pointer;
}

#expand img {
    height: 30px;
}


#expand {
    display: none;
}

h2 {
    margin-top: 50px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

div,
form,
p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    border: #aabbcc solid 1px;
    color: #666666;
    border-radius: 5px;
    height: 25px;
}

input:focus {
    border: #000000 solid 1px;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px 0;
    height: 25px;
}

button {
    height: 30px;
    margin-top: 10px;
    line-height: 25px;
}

button[type=submit] {
    background-color: #ffffff;
    border: 2px solid #66AABB;
    border-radius: 5px;
    color: #000000;
    padding: 0 8px;
    font-size: 14px;
    cursor: pointer;
}


#no-data {
    justify-content: center;
}

.row {
    border-bottom: #e8e8e8 solid 1.5px;
    display: flex;
    width: 100%;
    height: 30px;
}

.row:hover {
    background-color: #e8e8e8;
}


.row:first-child {
    height: 30px;
    border-bottom: #448899 solid 1px;
    background-color: #66aabb;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.row:first-child:hover {
    background-color: #66aabb;
}

.row .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .col:first-child {
    width: 5%;
}


.edit,
.delete {
    cursor: pointer;
}

@media (max-width:1200px) {
    .nav {
        width: 100%;
    }

    .content {
        padding: 0 10px;
        width: 100%;
    }
}

a#back {
    margin: 20px 0;
    display: block;
}

@media (max-width:750px) {
    .right-2 {
        display: none;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 50px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        box-shadow: 0 0 15px 0.1px #e8e8e8;
        padding: 0;
        width: 100px;
        height: 120px;
    }

    .right-2 .fold1 {
        height: 25%;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

    }

    .right-2 a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-2 .fold1:hover,
    .right-2 .fold1:hover a {
        background-color: #66aabb;
        color: #ffffff;
        border: none;
        margin-bottom: 1px;
    }



    #expand {
        display: block;
    }
}