#content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#content>#summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

form {
    border: #e8e8e8 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px 0;
    padding: 20px;
}

@media(max-width:750px) {
    #content {
        display: block;
    }

    #content>#summary {
        align-items: center;
        width: 100%;
    }

    form {
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width:500px) {
    form {
        width: 100%;
    }
}

form p {
    line-height: 20px;
    margin-bottom: 2px;
}

form h2 {
    border-bottom: 1px #000000 solid;
    color: #000000;
}



form button {
    /* background-color: #66AABB;
    border: 2px solid #66AABB;
    border-radius: 5px; */
    font-weight: bold;
}

form button:hover {
    background-color: #448899;
    border: 2px solid #66AABB;
    cursor: pointer;
    color: #ffffff
}

form .switch {
    text-align: center;
    border: 1px solid #66AABB;
    height: 30px;
    border-radius: 5px;
    line-height: 32px;
}

form .switch:hover {
    background-color: #ffffff;
    color: #448899;
    cursor: pointer;
    font-weight: bold;
}




#signup-form {
    display: none;
}

form input[type=file] {
    display: none;
}

label {
    height: 100px;
    margin-bottom: 8px;
    border: 3px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

label #view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: 3px solid red; */
    position: absolute;
    top: -16px;
}

label img {
    height: 100%;
}

#processing {
    display: none;
    text-align: center;
}