#list-products {
    margin: 0 0 50px 0;

}

button:hover {
    background-color: #448899;
    color: #ffffff;
}

.row {
    width: 600px;
}

.row .col {
    width: 60%;
}

.row .col:last-child {
    width: 35%;
}

@media(max-width:700px) {
    .row {
        width: 100%;
    }

    .row .col,
    .row .col:last-child {
        width: 45%;
    }
}