<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}
    {% block css %}

    {% endblock %}

</head>

<body>
    <!-- nav -->
    <nav>
        <div id="welcome"></div>
        <div id="manage-accounts"></div>
        <div id="manage-products"></div>
        <div id="manage-shows"></div>
        <div id="log">登入</div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="{{url_for('static',filename='js/base.js')}}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>