<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    {% block css %}
    {% endblock %}

</head>

<body>
    <!-- nav -->
    <nav>
        <div class="left">
            <div id="login-company"></div>
        </div>
        <div class="right">
            <div id="welcome"></div>
            <div id="manage-accounts"></div>
            <div id="manage-products"></div>
            <div id="manage-shows"></div>
            <div id="log"></div>
        </div>
    </nav>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    <script src="{{url_for('static',filename='js/base.js')}}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>