<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav><a href="/listorder">所有訂單</a></nav>
    <form action="/save" method="post">
        訂單號碼 <input type="text" name="order-number">姓名 <input type="text" name="name">電話 <input type="text"
            name="phone">地址 <input type="text" name="address">
        {% for product in product_list %}
        <input type="checkbox" value="{{product}}" name="product">{{product}}
        {% endfor %}
        <button id="btn" type="submit">建立</button>
    </form>
    <script src="../static/script.js"></script>
</body>

</html>