{% extends 'base.html' %}
{% block title %}
<title>修改帳號</title>
{% endblock %}
{% block content %}
<h1>修改帳號資料</h1>
<form id="edit-account">
    <div id="before">
        <p>原名稱：<span id=""></span></p>
        <p>原信箱：<span id=""></span></p>
        <p>原密碼：<input type="password" required></p>

    </div>
    <div id="after">
        <p> 新名稱：<input type="text" required></p>
        <p>新信箱：<input type="email" required></p>
        <p> 新密碼：<input type="password" required></p>
        <button type="submit">修改</button>
    </div>

</form>
{% endblock %}
{% block js %} <script src="{{url_for('static',filename='js/edit_account.js')}}">
</script>
{% endblock %}