{% extends 'base.html' %}
{% block title %}
<title class="show-name"></title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/order.css')}}">
{% endblock %}


{% block content %}

<h1 class="show-name"></h1>
<h2>建立資料</h2>
<form id="order-form">
    <p>*姓名/公司名：<input type="text" id="customer" required value="customer"></p>
    <p>*產品：</p>

    <div id="list-products"></div>
    <p>電話：<input type="tel" id="phone" placeholder="02 2222 2222" value="02 2222 2222"></p>
    <p>電子信箱：<input type="email" id="email" placeholder="abc@example.com" value="abc@example.com"></p>
    <p>寄送地址：<input type="text" id="address" placeholder="台北市中正區重慶南路1段122號" value="台北市中正區重慶南路1段122號"> <button
            id="search">郵遞區號查詢</button></p>
    <p>統編：<input type="tel" id="tax-id" placeholder="22222222" value="22222222"></p>
    <p>備註：</p><textarea cols="40" rows="5" id="comment" placeholder=""></textarea><br>
    <button type="submit">建立</button>
</form>
<div id="orders-title">
    <h2>資料列表</h2>
    <p><a id="chart" href=""><img src="/static/img/chart.png" alt="">圖表</a></p>
</div>
<div id="list-orders">
    <div class="row">
        <div class="no">No.</div>
        <div class="customer">姓名/公司名</div>
        <div class="products">品項</div>
        <div class="total">金額</div>
        <div class="name">建立者</div>
        <div class="action">動作</div>
    </div>
</div>
<a id="back" href="../shows">返回</a>
{% endblock %}
{% block js %}
<script src="{{url_for('static',filename='js/order.js')}}"></script>
{% endblock %}