{% extends 'base.html' %}
{% block title %}
<title>資訊</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/order.css')}}">
{% endblock %}
{% block content %}

<h1 id="order-info">資訊</h1>
<form id="order-form">
    <p>*姓名/公司名：<input type="text" id="customer" required></p>
    <p>*產品：</p>
    <div id="list-products"></div>
    <p>電話：<input type="tel" id="phone" placeholder="02 2222 2222"></p>
    <p>電子信箱：<input type="email" id="email" placeholder="abc@example.com"></p>
    <p>寄送地址：<input type="text" id="address" placeholder="台北市中正區重慶南路1段122號"> <button id="search">郵遞區號查詢</button></p>
    <p>統編：<input type="tel" id="tax-id" placeholder="22222222"></p>
    <p>備註：</p><textarea cols="40" rows="5" id="comment" placeholder=""></textarea><br>
    <p>建立者：<span id="submitter"></span></p>
    <button type="submit">修改</button>
    <a href="" id="back">取消</a>
</form>
{% endblock %}
{% block js %}
<script src="{{url_for('static',filename='js/edit_order.js')}}"></script>
{% endblock %}