{% extends 'base.html' %}
{% block title %}
<title>edit</title>
{% endblock %}
{% block content %}

<h1 id="order-info">資訊</h1>
<form id="order-form">
    *姓名/公司名：<input type="text" id="customer" required><br>
    <p>*產品：</p>
    <div id="products-list"></div>
    電話：<input type="tel" id="phone" placeholder="02 2222 2222"><br>
    電子信箱：<input type="email" id="email" placeholder="abc@example.com"><br>
    寄送地址：<input type="text" id="address" placeholder="台北市中正區重慶南路1段122號"><button id="search">郵遞區號查詢</button><br>
    統編：<input type="tel" id="tax-id" placeholder="22222222"><br>
    備註：<br><textarea cols="40" rows="5" id="comment" placeholder=""></textarea><br>
    建立者：<span id="submitter"></span><br>
    <button type="submit">修改</button>
</form>
<a href="" id="back">返回</a>
{% endblock %}
{% block js %}
<script src="{{url_for('static',filename='js/edit_order.js')}}"></script>
{% endblock %}