{% extends 'base.html' %}
{% block title %}
<title>管理展覽</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/show.css')}}">
{% endblock %}
</head>

<body>
    {% block content %}
    <!-- create show -->
    <h2>建立展覽：</h2>
    <form id="create-show">
        <p>*地區：
            <label>
                <input type="radio" name="region" value="domestic" required>
                國內
            </label>
            <label>
                <input type="radio" name="region" value="foreign" required>
                國外
            </label></p>
        <p>*名稱：<input type="text" placeholder="" required></p>
        <!-- 期間：<input id=calendar name="dates"> -->
        <p>*開始日期：<input type="date" required></p>
        <p>*結束日期：<input type="date" required></p>
        <button type="submit">建立</button>
    </form>

    <hr>
    <!-- choose show -->
    <h2>選擇展覽：</h2>
    <form id="choose-show">

        <div id="domestic"></div>
        <div id="foreign"></div>
        <button type="submit">選擇</button>
    </form>
    {% endblock %}
    {% block js %}

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> -->
    <script src="{{url_for('static',filename='js/show.js')}}"></script>
    {% endblock %}

</body>

</html>